.border_g{
    border: 2px solid darkgray;
}
body{
    font-family:'Times New Roman', Times, serif;
}
#templates-sec .card{
    cursor: pointer;
}
#templates-sec .card:hover{
    box-shadow: 2px 2px 2px gray;
}
.select-templates {
    border: 2px solid green;
}
.main-head{font-size: 4rem;}

