body{background-color: white;font-family: 'Kalam', cursive;}
        /* body{background-color: ghostwhite;background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);} */
        header .nav-link{font-size: 1.5rem;font-family: 'Kalam', cursive;}
        header .nav-link:hover{font-weight: bold;text-decoration: underline;}
