*{font-family: 'Poppins', sans-serif;}
#resumeSection .border_g{border: 2px solid darkgray;}
#resumeSection p , #resumeSection li{font-size: 20px;}
#userDetails h2{color:#6c757d;font-weight: bold;}
.firstName{color:black;font-weight: bold;font-size: 45px;}
.profession{color:darkgrey;font-weight: bold;}
.resume-Subheading{font-weight: bold;color:brown;font-size: 27px;}
.resume-Subheading::after{content: ":";}
#resumeSection .addressCard .iconBtn .btn{border-radius: 43px;background: #fff;}
#resumeSection .addressCard {background: gainsboro;width: fit-content ;}
.profilepic{width: 3.5cm; height: 4.5cm;}
.personalInfo-row2{gap:1rem;}
#resumeSection .addressCard .card-body .d-flex {gap:8px;}
#resumeSection .addressCard .card-body {padding: .5rem !important;}
#resumeSection .addressCard{border:none !important;}

.gap1{gap: 1.5rem;}
.help-h1r{
    width: 59rem;
    rotate: 90deg;
    position: relative;
    background: red !important;
    top: 29rem;
}